<br>
<nav>
    <ul>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
    </ul>
    <a href="/">Home page</a>
    <a href="/about">About page</a>
    <a href="/allTask">Task to-do</a>
    <a href="/calPrice">Calcultate Price</a>
</nav>
<br>