<html lang="en">
<html>

<%- include('./partials/header.ejs') %>


<body>
    <h1>ABOUT</h1>
    <p> This page is for studying purpose</p>


    <div class="about content">
        <h2>About Myself</h2>
        <p>I'm ready for challenges </p>
        <p>But have to tell you first. I'm kind of stupid! </p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>