<html lang="en">
<html>
<head>

    <%- include('./partials/header.ejs') %>
</head>


<body>
    <h1>HELLO NODE</h1>
    <p> This is my first site</p>
    <p>This funny looking site is why U have to use CSS right</p>
    <p>Or use bootstrap</p>
    
    <img src="/Jiraiya.jpg">
    <%- include('./partials/footer.ejs') %>
</body>

</html>